<%= form_with model: @task, class: "new-task-form" do |f| %>
  <fieldset>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :description %>
      <%= f.text_field :description, value: @task.description %>
    </p>

    <%= f.submit "Submit", class: "task-button" %>
  </fieldset>
<% end %>
